*{
	
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;

}


a{
   text-decoration:none; 
   color: #fff;
    
}
body{
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
h2{
    color:#fff;
}
.titulo{
    text-align: center;
}


/* ENTRADAS ONDE O TIPO SEJA TEXTO, COMBO E TEXTAREA */
input[type=text], select, textarea,input[type=date] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

input[type=submit],button {
  position: relative;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
div{
    margin-bottom: 5px;
}

input[type=submit],button[type=submit]:hover {
  background-color: #45a049;
}

.container {
  position: absolute;
  left: 4em;
  width: 50%;
  top:20px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
  background: #013d4a;
}
label{
    color: #fff;
}
table{
  border: 1px solid black;
}
table td,th{
  border: 1px solid black;
}
.invisivel{
  display: none;
}
.erro-input {
    display: none;
    color: #e74c3c;
}
.com-erro {
    display: block;
}