/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/11/2019, 21:15:22
    Author     : Thiago
*/


*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	color: #fff;
}
.insere-produto{
        
	background-color:#013d4a;
	display: flex;
        top: 5%;
	height: 70px;
        


}
#tbodyDetalheVenda tr{
    text-align: center;
}

.insere-nome-produto{
	background-color:#013d4a;
	flex-grow: 3;

}
.Quantidade{
	background-color:#013d4a;
	flex-grow: 1;
}

.valorUnitario{
	background-color:#013d4b;
	flex-grow: 2;
}
.valorTotal{
	background-color:#013d4b;
	flex-grow: 2;
}

input::placeholder{
	font-family: 'Poppins',sans-serif;
	color: #fff;


}
.botao{
	flex-grow: 0.5;
	border: none;

}
.add{
	background-color:#013d4b;
	font-family: 'Poppins',sans-serif;
	color: #fff;
	height: 100%;
	width: 100%;
	border: none;
}
button:hover{
	background: #4CAF50;
}


span{
	display: block;
	text-align: center;
	padding: 5px;
}
.dadosQtd{
	background:none;

	height: 50%;
	width: 100%;
	border: none;
	text-align: center;
	
}
.procuraNomeProduto{
  background:none;
  height: 100%;
  width: 100%;
  border: none;
 
}
.salvar{
	background-color:#013d4b;
	font-family: 'Poppins',sans-serif;
	color: #fff;

	border: none;
}
thead{
	
	border: 1px solid black;


}

table{
	border-collapse: collapse;
}


body{
	margin: 5px;
	background-image: url("../img/controle.jpg");
	background-size: cover;
}
.tabela{
	width: 100%;
	margin-top: 5%;

}
.idProduto{
    display: none;
}

.divAutocomplete{
    background: rgba(255,255,255,0.8);
}
#tbSource{
    width: 100%;
}
.autoCompleteNomeProduto{
    width: 100%;
}
.autoCompleteNomeProduto:hover{
    background: red;
    
}
.divCliente{
    position: absolute;
    
    top:50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.5);
    width: 100%;
    height: 100%;
    padding: 20px;
    
    
}

.divCliente .divClienteConteudo{
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background: rgba(1,61,74,0.5);
   border: rgb(1,61,74) solid 2px;
  
   width: 300px;
   height: 300px;
   padding: 20px ;
   border-radius: 10px;
    
}
#tabelaClientes{
    width: 100%;
    font-family: 'Poppins',sans-serif;
    
    background: rgba(1,61,74,0.5);
    
    
}
#tabelaClientes td{
    padding: 10px;
}
#tabelaClientes tr{
    border-bottom: rgb(1,61,74) solid 2px;
    
    
}#tabelaClientes tr:hover{
    background: #e17055;
}
#resumoCliente{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background: none;
    border: none;
    border-bottom: #2C3A47 solid 2px;
}
#resumoCliente::placeholder{
    color: #000;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    
}
label{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}
.labelCliente{
    color: #fff;
    
}
